{% extends 'SirepaePAEBundle:Intervencion:index.html.twig' %}

{% block content -%}

    <h1 class="title">Nueva Intervención</h1>

    {{ form(form) }}

    {% if nic is not null %}
        <a class="btn btn-default btn-lg pull-right" href="{{ path('nic_edit', {id: nic.id}) }}">Volver</a>
    {% else %}
        <a class="btn btn-default btn-lg pull-right" href="{{ path('intervencion') }}">Volver</a>
    {% endif %}
{% endblock %}
