
    <div class="col-sm-12">
        <div class="pull-left">
            <h1 class="title">Usuario {{ entity.nombres is null? entity.username:entity.nombres }}</h1>
        </div>
        {% if ajax is defined and not ajax %}
        <div class="pull-right">
            {{ form(delete_form) }}
        </div>
        {% endif %}
    </div>

    {{ form(edit_form) }}

    <a class="btn btn-default btn-lg pull-right" href="{{ path('usuario') }}">Volver</a>
