{% extends 'SirepaeUsuariosBundle:Usuario:index.html.twig' %}

{% block content -%}

    <h1 class="title">Nuevo {{ rol is defined and rol is not null?rol.nombre:'Usuario' }}</h1>
    
    {{ form(form) }}

    <a class="btn btn-default btn-lg pull-right" href="{{ path('usuario') }}">Volver</a>
{% endblock %}
