{% extends 'SirepaeUsuariosBundle:Usuario:index.html.twig' %}

{% block content -%}

    <h1 class="title">Nuevo Estudiante</h1>
    
    {{ form(form) }}

    <a class="btn btn-default btn-lg pull-right" href="{{ path('estudiante') }}">Volver</a>
{% endblock %}
