{% extends 'SirepaeRegistrosEnfermeriaBundle:RegistroEnfermeria:index.html.twig' %}

{% block content -%}

    <h1 class="title">Nueva Nota {{ re is not null?'para "' ~ re.nombre ~ '"':'' }}</h1>

    {{ form(form) }}

    {% if re is defined and re is not null %}
        <a class="btn btn-default btn-lg pull-right" href="{{ path('registros_enfermeria_edit',{id: re.id}) }}">Volver</a>
    {% else %}
        <a class="btn btn-default btn-lg pull-right" href="{{ path('nota') }}">Volver</a>
    {% endif %}
{% endblock %}
