{% extends 'SirepaePAEBundle:NOC:index.html.twig' %}

{% block content -%}

    <h1 class="title">Nuevo NOC</h1>

    {{ form(form) }}

    <a class="btn btn-default btn-lg pull-right" href="{{ path('actividad') }}">Volver</a>
{% endblock %}
