/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-feb-2014, 12:49:59
    Author     : hender
*/
.body *:hover,
body *:focus,
body *.active,
body *{
    outline: none;
}
label.checkbox{
    padding: 0;
}
.form-signin{
    max-width: 640px;
    margin: 15% auto 0 auto;
    background-color: rgba(245, 245, 245, 0.8);
}
.form-signin-heading h1{
    font-weight: bold;
}
.back-slide{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.back-slide img{
    margin-top: 10%
}
.text-bg{
    font-size: 40px;
    font-weight: bold;
}
.title{
    text-transform:capitalize;
    font-weight: bolder;
}
form.form-all-inline,
form.form-all-inline div{
    display: inline-block;
    margin-top: 5px;
}
.text-upper{
    text-transform: uppercase;
}
.text-lower{
    text-transform: lowercase;
}
.panel-heading .pull-right{
    position: absolute;
    right: 20px;
    top: 4px;
}
.panel>.panel-collapse>.list-group{
    margin-bottom: 0;
}
.panel>.panel-collapse>.list-group .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.panel>.panel-collapse>.list-group .list-group-item {
    border-width: 1px 0;
}
.panel>.panel-collapse>.list-group .list-group-item:last-child {
    border-bottom: 0;
}
.panel-group.panel-integrate{
    margin: -16px;
}
.panel-group.panel-integrate > .panel{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
p ~ .panel-group.panel-integrate{
    margin-top: 10px;
}
.search{
    width: 100%;
}
/*.navbar-search{
    width: 50%;
}*/
.select2-container{
    width: 50%;
}
.list-group-item-info {
    color: rgb(49, 112, 143);
    background-color: rgb(217, 237, 247);
}
.panel-primary>.panel-heading a{
    color: #fff;
}
.panel *{
    word-break: break-word;
}