{% extends 'SirepaePAEBundle:Indicador:index.html.twig' %}

{% block content -%}
    <div class="col-sm-12">
        <div class="pull-left">
            <h1 class="title">Indicador {{ entity.definicion }}</h1>
        </div>
        <div class="pull-right">
            {{ form(delete_form) }}
        </div>
    </div>

    {{ form(edit_form) }}

    <a class="btn btn-default btn-lg pull-right" href="{{ path('indicador') }}">Volver</a>
{% endblock %}
