{% extends 'SirepaePAEBundle:PAE:index.html.twig' %}

{% block content -%}

    <h1 class="title">Nuevo Diagnóstico</h1>

    {{ form(form) }}

    {% if dominio is not null %}
        <a class="btn btn-default btn-lg pull-right" href="{{ path('dominio_edit', {id: dominio.id}) }}">Volver</a>
    {% elseif clase is not null %}
        <a class="btn btn-default btn-lg pull-right" href="{{ path('clase_edit', {id: clase.id}) }}">Volver</a>
    {% else %}
        <a class="btn btn-default btn-lg pull-right" href="{{ path('diagnostico') }}">Volver</a>
    {% endif %}
{% endblock %}
