{% extends 'SirepaePAEBundle:ActividadPAE:index.html.twig' %}

{% block content -%}

    <h1 class="title">Nuevo Actividad PAE</h1>

    {{ form(form) }}

    <a class="btn btn-default btn-lg pull-right" href="{{ path('actividad_pae') }}">Volver</a>
{% endblock %}
