{% extends 'SirepaePAEBundle:IndicadorPAE:index.html.twig' %}

{% block content -%}

    <h1 class="title">Nuevo Indicador PAE</h1>

    {{ form(form) }}

    <a class="btn btn-default btn-lg pull-right" href="{{ path('indicador_pae') }}">Volver</a>
{% endblock %}
