{% extends 'SirepaeRegistrosEnfermeriaBundle:RegistroEnfermeria:index.html.twig' %}

{% block content -%}

    <h1 class="title">Nuevo Registro de Enfermería</h1>

    {{ form(form) }}

    <div id="form-new-paciente">
        {{ render(controller('SirepaeRegistrosEnfermeriaBundle:Paciente:new',{'ajax': true, 'registro': true})) }}
    </div>
    
    <div class="btn-group btn-group-lg pull-right">
        <a class="btn btn-default btn-lg" href="{{ path('registros_enfermeria') }}">Volver</a>
    </div>
{% endblock %}
