{% extends 'SirepaeRegistrosEnfermeriaBundle:RegistroEnfermeria:index.html.twig' %}

{% block content -%}

    <h1 class="title">Nueva Pregunta</h1>

    {{ form(form) }}

    <a class="btn btn-default btn-lg pull-right" href="{{ path('pregunta') }}">Volver</a>
{% endblock %}
