{% extends 'SirepaePAEBundle:PAE:index.html.twig' %}

{% block content -%}

    <h1 class="title">Nuevo Dominio</h1>

    {{ form(form) }}

    {% if nanda is not null %}
        <a class="btn btn-default btn-lg pull-right" href="{{ path('nanda_edit', {id: nanda.id}) }}">Volver</a>
    {% else %}
        <a class="btn btn-default btn-lg pull-right" href="{{ path('actividad') }}">Volver</a>
    {% endif %}
{% endblock %}
